body{
  background-color: #0F2537;
}

.node {
    margin: -1px !important;
    padding: 0 !important;
    width: 25px;
    height: 25px;
    outline: 2px solid #f8c298;
    display: inline-block;
    background-color: #F8F7FF;

}

.weight{
  background-image: url("files/test.png");
  background-size: contain; /* or background-size: cover; */
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.start{
    background-image: url("files/house-solid.svg");
    cursor: move;
}

.start:hover, .finish:hover{
    transform: scale(1.1);
}
.finish{
    background-image: url("files/flag-solid.svg");
    cursor: move;
}

.wall{
    background-color: #6320EE;
    opacity: 0.9;
    animation: wallAnimation 0.4s ease-in-out;
}

@keyframes wallAnimation{
    0%{
    transform: scale(1);
    }
    50%{
    transform: scale(1.3);
    }
    100%{
    transform: scale(1);
    }
}


.visited{
    background-color: rgba(0, 204, 102, 0.9);
    animation-name: visitedAnimation;
    animation-duration: 1s;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #000042bf;
    border-radius: 100%;
  }

  50% {
    background-color: #d911bbbf;
  }

  75% {
    transform: scale(1.2);
    background-color: #2211d9bf;
  }

  100% {
    transform: scale(1);
    background-color: #00da45bf;
  }
}
  
.shortestPath{
    background-color: #FFF275;
    border: 2px solid #F6AA1C;
    animation-name: shortestPathAnimation;
    animation-duration: 1s;
  }

@keyframes shortestPathAnimation {
  0% {
    transform: scale(.6);
    background-color: #F6AA1C ;
  }

  50% {
    transform: scale(1.2);
    background-color: #F6AA1C;
  }

  100% {
    transform: scale(1.0);
    background-color: #F6AA1C;
  }
}